$default-font-color: #333;
$default-font-size: 15px;
$default-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$default-font-weight: 300;

$silver: #EAEAEA;
